body {
    font-family: Arial, sans-serif;
    background-color: #C2C5AA; /* Fondo principal */
    color: #ca8c19; /* Texto principal */
    background-image: url('imagenes/fondoLoggin.jpg');
    background-size: cover; /* Esto asegura que la imagen cubra toda la pantalla */
}

