/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #C2C5AA; /* Fondo principal */
    color: #242426; /* Texto principal */
    background-image: url('URL_DE_LA_IMAGEN');
    background-size: cover; /* Esto asegura que la imagen cubra toda la pantalla */
}

#links-footer {
    font-size: 100%;
    text-align: center;
    color: white;
    
}

#imag {
  display: flex; /* Utilizar flexbox */
  justify-content: space-around; /* Distribuir los elementos de manera uniforme en el contenedor */
  align-items: center; /* Centrar verticalmente los elementos */
  
}
#imag img {
  max-width: 50vh; /* Establecer el ancho máximo */
  height: auto; /* Mantener la proporción de aspecto */
  
}


.amg{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.amg h1{
  
  color: #6D5133;
  text-align: center;
}

.amg h2{
  
  color: #be8b54;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav form {
  margin-left: auto; /* Mueve el formulario al extremo derecho */
}

.test{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonio{
  max-width: 50vh;
  height: auto;
}



.amg button{
  background-color: #e9d1b7 ;
}






.saber-mas{
  background-color: brown;
}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    /* Estilos para el encabezado */
    #div1 {
        background-color: #936639; /* Fondo encabezado */
        color: #FFFFFF; /* Texto encabezado */
        padding: 20px;
        text-align: center;
    }

    /* Estilos para el contenido principal */
    #div2 {
        padding: 10px;
    }

    /* Estilos para el pie de página */
    #div3 {
        background-color: #582F0E; /* Fondo pie de página */
        color: #FFFFFF; /* Texto pie de página */
        padding: 20px;
        text-align: center;
    }
}

/* Estilos para dispositivos de escritorio */
@media only screen and (min-width: 601px) {
    /* Estilos para el encabezado */
    #div1 {
        background-color: #656D4A; /* Fondo encabezado */
        color: #FFFFFF; /* Texto encabezado */
        padding: 40px;
        text-align: center;
    }

    /* Estilos para el contenido principal */
    #div2 {
        padding: 20px;
    }

    /* Estilos para el pie de página */
    #div3 {
        background-color: #283D53; /* Fondo pie de página */
        color: #FFFFFF; /* Texto pie de página */
        padding: 40px;
        text-align: center;
    }
}


.container-acerca{
  background-color: #283D53; /* Fondo pie de página */
        color: #FFFFFF; /* Texto pie de página */
        padding: 10px;

}

#titulo-about{
  text-align: center;
}

nav {
  background-color: #452F00; /* Color de fondo */
  padding: 10px 0; /* Espaciado interno */
}

ul {
  list-style-type: none; /* Eliminar los puntos de la lista */
  margin: 0;
  padding: 0;
  text-align: center; /* Centrar los elementos de la lista */
}

li {
  display: inline;
}

a {
  color: #FFFFFF; /* Color del texto */
  text-decoration: none; /* Eliminar el subrayado */
  padding: 10px 20px; /* Espaciado interno */
  display: inline-block; /* Convertir en elementos de bloque con espaciado */
}

a:hover {
  background-color: #6D5133; /* Cambiar el color de fondo al pasar el mouse */
}

.testimonio {
  background-color: #f9f9f9; /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  margin-bottom: 20px; /* Margen inferior */
}

.testimonio h3 {
  color: #333; /* Color del título */
}

.testimonio p {
  font-size: 16px; /* Tamaño del texto */
  line-height: 1.5; /* Espaciado entre líneas */
}

.testimonio strong {
  font-weight: bold; /* Negrita */
}

#contenido-banner{
  background-color: #936639; /* Fondo encabezado */
        color: #FFFFFF; /* Texto encabezado */
        padding: 5px;
}

#titulo-blog{
  text-align: center;
}


#autenticacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}


#main-container-registro{
  width: 100vw;
  height: 100vh;
  margin-top: 25vh;
  margin-left: 35vw;
}

#container-registro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px  black solid;
  width: 25vw;
  height: 45vh;
}
/* Estilos para categorias */
#imgCategorias {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tituloProductos {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.espreso {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%; /* Para asegurar que cada elemento ocupe todo el ancho */
  max-width: 400px; /* Ancho máximo para evitar que los elementos se extiendan demasiado */
  margin: 0 auto; /* Centrar los elementos horizontalmente */
}

.espreso img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.espreso h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.espreso h2 {
  font-size: 18px;
  color: #888;
  margin-bottom: 15px;
}

.espreso button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.espreso button:hover {
  background-color: #0056b3;
}
.espreso p {
  font-size: 16px;
  color: #444;
  margin-bottom: 15px;
}

.container-carrito{
  background-color: #936639; /* Fondo encabezado */

        color: #FFFFFF; /* Texto encabezado */
        padding: 5px;
}

#body-ayuda{
  font-family: Arial, sans-serif;
  background-color: #C2C5AA; /* Fondo principal */
  color: #a3c6c7; /* Texto principal */
  background-image: url('imagenes/fondoLoggin.jpg');
  background-size: cover; /* Esto asegura que la imagen cubra toda la pantalla */
}

#titulo-ayuda{
  color: #c7a81c; /* Texto principal */

  padding: 5px;



}

#cerrar-sesion {
  display: flex;
  padding-top: 60vh;
  padding-left: 8vw;


}